.TextBox {
  height: 250px;
  top: 5px;
  max-width:1200vw;
  padding-left: 50px;
  position: relative;
   margin: auto;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
  vertical-align: middle;
  background-color: #FF7D00;
}

.development {
  position: absolute;
  bottom: 20px;
  text-align: center;
  vertical-align: bottom;
  margin: auto;
  left: 0;
  right: 0;
  font-family: Courier;
}